<div class='card-deck'>
   <div class='card'>
      <div class='card-block'>
         <h4 class='card-title'>iPhone 5S</h4>
         <h6 class='card-subtitle text-muted'>Rp. 8.999.999</h6>
      </div>
      <img data-src='holder.js/100%x200/?text=Image' alt='iPhone'>
      <div class='card-block'>
         <p class='card-text'>Apple iPhone 5S adalah handphone 
         	tercanggih dari Apple. Dapatkan
         	dengan harga khas dari Shopoza! Nikmati cicilan 0%</p>
         <div class='btn-group'>
            <a href='#' class='btn btn-primary dropdown-toggle' 
            	data-toggle='dropdown' aria-haspopup='true' 
            	aria-expanded='false'>
            	Add to cart
            </a>
            <div class='dropdown-menu'>
               <a class='dropdown-item' href='#'>Action</a>
               <a class='dropdown-item' href='#'>Another action</a>
            </div>
         </div>
         <a href='#' class='btn btn-secondary card-link'>Quick checkout</a>
      </div> <!-- card block -->
   </div> <!-- card -->
</div> <!-- card deck -->
