<div class='card-deck'>
  <% @books.each do |book|%>
    <div class='card'>
      <div class='card-block'>
         <h4 class='card-title'><%= book.title%></h4>
         <h6 class='card-subtitle text-muted'><%= book.price %></h6>
      </div>
      <img data-src='holder.js/100%x200/?text=Image' alt='iPhone'>
      <div class='card-block'>
         <p class='card-text'>
           <%= book.summary %>
         </p>
         <input type="number" name="quantity">
         <div class='btn-group'>
            <a href='#' class='btn btn-primary'>
            	Add to cart
            </a>
         </div>
      </div> <!-- card block -->
    </div> <!-- card -->
  <% end %>
</div> <!-- card deck -->
