<h2>Lakukan pembayaran</h2>

<script type='text/javascript'>
  window.veritransClientKey = "<%= Veritrans.config.client_key  %>"
</script>

<div class="row">
  <div class="col-sm-5">
    <%= render "checkouts/direct_forms/payment_selectors" %>
  </div>

  <div class="col-sm-7">
    <%= render "checkouts/direct_forms/payment_forms" %>
  </div>
</div>
