<h2>Pilih metode pembayaran:</h2>

<div class="row">
  <div class="col-sm-5">
    <%= render "checkouts/direct_forms/payment_selectors" %>
  </div>

  <div class="col-sm-7">
    <%= render "checkouts/direct_forms/payment_forms" %>
  </div>
</div>