/*
 *= require_self
 *= require bootstrap.min
 *= require_tree .
 */
 .number-field{
   max-width: 44px;
 }
 .book-preview {
   display: inline-block;
   width: 100px;
 }

 .flash-message{
  border-radius: 5px;
  padding: 11px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
 }
