#spinnerFade {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ababab;
  z-index: 1101;
  -moz-opacity: 0.8;
  opacity: .70;
  flter: alpha(opacity=80);
}

#spinnerModal {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  padding: 30px 15px 0px;
  z-index: 1102;
  text-align: center;
  overflow: auto;
}


