<% if flash[:notice] %>
  <div class="bg-success flash-message">
    <p>
      <%= flash[:notice]%>
    </p>
  </div>
<% elsif flash[:alert] %>
  <div class="bg-danger flash-message">
    <%= flash[:alert]%>
  </div>
<% end %>
